@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}

[data-theme='dark'] {
    --bg-color: #1a202c;
    --text-color: #ffffff;
  }
  
  [data-theme='retro'] {
    --bg-color: #fdf6e3;
    --text-color: #383246;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }